<!DOCTYPE html>
<html lang="en">
{% extends 'index1.html' %}
<head>
    <meta charset="UTF-8">
    {% block title %}产品介绍{% endblock %}
    {% block js %}
        <script src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/js/jquery.min.js"></script>
        <script src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/js/jquery-migrate.min.js"></script>
        <script src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/js/bootstrap.bundle.min.js"></script>
        <script src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/js/easing.min.js"></script>
        <script src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/js/wow.min.js"></script>
        <script src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/js/hoverIntent.js"></script>
        <script src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/js/superfish.min.js"></script>
        <script src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/js/magnific-popup.min.js"></script>
        <script src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/js/contactform.js"></script>
        <script src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/js/main1.js"></script>
    {% endblock %}
    {% block css %}
         <style>
             * {
                 padding: 0;
                 margin: 0;
             }
             .slider {
                 background: none;
                 min-height:120px;
                 background-color: black;
                 margin: 0 5px;
             }
        </style>
        <link href="https://first-1257059002.cos.ap-nanjing.myqcloud.com/images/favicon.png" rel="icon">
        <link href="https://first-1257059002.cos.ap-nanjing.myqcloud.com/images/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
        <link href="https://first-1257059002.cos.ap-nanjing.myqcloud.com/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://first-1257059002.cos.ap-nanjing.myqcloud.com/css/animate.min.css" rel="stylesheet">
        <link href="https://first-1257059002.cos.ap-nanjing.myqcloud.com/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://first-1257059002.cos.ap-nanjing.myqcloud.com/css/ionicons.min.css" rel="stylesheet">
        <link href="https://first-1257059002.cos.ap-nanjing.myqcloud.com/css/magnific-popup.css" rel="stylesheet">
        <link href="https://first-1257059002.cos.ap-nanjing.myqcloud.com/css/style2.css" rel="stylesheet">
    {% endblock %}
</head>
{% block background %}{% endblock %}
{% block content %}
    <section id="intro">

<div class="intro-text">
  <h2>欢迎来到南酸枣监控平台</h2>
  <p>我们专注于南酸枣的生长环境参数检测</p>
  <a href="#about" class="btn-get-started scrollto">开始</a>
</div>

<div class="product-screens">

  <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
	<img src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/images/product-screen-1.jpeg" alt="">
  </div>

  <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
	<img src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/images/product-screen-2.jpg" alt="">
  </div>

  <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
	<img src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/images/product-screen-1.jpg" alt="">
  </div>

</div>

</section><!-- #intro -->
    <main id="main">
    <section id="about" class="section-bg">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title">南酸枣</h3>
          <span class="section-divider"></span>
          <p class="section-description">
            漆树科、南酸枣属落叶乔木，高可达20米。树干挺直，树皮灰褐色，小枝粗壮，暗紫褐色，具皮孔无毛，<br>
            奇数羽状复叶互生，卵状椭圆形或长椭圆形，花杂性，异株；雄花和假两性花淡紫红色，排列成顶生或腋生的聚伞状圆锥花序，<br>
            雌花单生于上部叶腋内；核果椭圆形或倒卵形，成熟时黄色，中果皮肉质浆状，花期4月，果期8-10月。
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6 about-img wow fadeInLeft">
            <img src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/images/about-img.jpg" alt="">
          </div>

          <div class="col-lg-6 content wow fadeInRight" style="background:#eff5f5">
            <h2>南酸枣又名五眼果、五眼睛、化郎果、鼻涕果，为漆树科植物酸枣树</h2>
            <p>
              南酸枣为较好的速生造林树种。树皮和叶可提栲胶。果可生食或酿酒。果核可作活性炭原料。茎皮纤维可作绳索。树皮和果入药，有消炎解毒、止血止痛之效，外用治大面积水火烧烫伤
            </p>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> 南酸枣的果实中富含多种营养成分包括果胶、纤维素、黄酮、原花青素、有机酸、蛋白质、微量矿物元素等</li>
              <li><i class="ion-android-checkmark-circle"></i> 具有抗癌、抗心血管疾病、抗糖尿病、抗氧化、抗心律失常、抗血小板凝聚等功效</li>
              <li><i class="ion-android-checkmark-circle"></i> 可以保护心肌缺血、增强食欲、治疗便秘、增强免疫</li>
            </ul>

            <p>
              中医认为，南酸枣的果实可以行气活血、养心安神，可用于气滞血瘀、心区作痛、心跳气短、 心神不安等病症。其鲜果实与果核可以消食滞，清热毒、解酒、收敛、杀虫，用于食滞腹痛。到目前为止，南酸枣已被加工成各种各样的食品，包括南酸枣糕、南酸枣功能性饮料、南酸枣凝胶软糖等。
            </p>
          </div>
        </div>

      </div>
    </section>

    <section id="features">
      <div class="container">

        <div class="row">

          <div class="col-lg-10 offset-lg-4">
            <div class="section-header wow fadeIn" data-wow-duration="1s">
              <h3 class="section-title">栽培技术</h3>
              <span class="section-divider"></span>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 features-img">
            <img src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/images/product-features.jpeg" alt="" class="wow fadeInLeft">
          </div>

          <div class="col-lg-6 col-md-5 ">

            <div class="row">

              <div class="col-lg-6 col-md-6 box wow fadeInRight">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title"><a href="">园地选择</a></h4>
                <p class="description">宜选择海拔300-800米（不宜超过800米），坡度40°以下的南坡中下部、山脚、山谷、土壤肥厚或较肥厚的宜林地建园.</p>
              </div>
              <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                <div class="icon"><i class="ion-ios-flask-outline"></i></div>
                <h4 class="title"><a href="">种植密度</a></h4>
                <p class="description">行距为6米，株距为5米，每亩约20-30株，以“品”字形错开种植，充分利用光照，扩大树冠面积。注意平均每亩必须种植树1-2株雄株</p>
              </div>
              <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                <div class="icon"><i class="ion-social-buffer-outline"></i></div>
                <h4 class="title"><a href="">水肥管理</a></h4>
                <p class="description">大穴种植，穴的规格为60×60×60厘米，条件允许可以扩大至80×80×80厘米；二是大肥，每穴施芒箕或稻草等10千克、石灰1千克、腐熟的有机肥12千克，分3层回填</p>
              </div>
              <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                <h4 class="title"><a href="">整形修剪</a></h4>
                <p class="description">对南酸枣进行适当修剪整形，可培养良好的冠形，扩大结果面。造林后在离地约1米处留3-4个主枝，剪除其它枝条，主枝萌芽形成枝条后，在80厘米处截枝，每条主枝再留3-4个侧枝</p>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section>

    <section id="advanced-features">
      <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right wow fadeInRight" src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/images/product-features.jpg" alt="">
              <div class="wow fadeInLeft">
                <h2>主要价值</h2>
                <h3>南酸枣的主要价值分为经济和医药价值</h3>
                <p>南酸枣是我国南方优良速生用材树种，其木材结构略粗，心材宽，淡红褐色，边材狭，白色至浅红褐色，花纹美观，刨面光滑。材质柔韧，收缩率小，可加工成工艺品。果实甜酸，可生食、酿酒和加工酸枣糕；果核可做活性炭原料；树叶可做绿肥；树皮还可作为鞣料和栲胶的原料。</p>
                <p>南酸枣干燥成熟果实。秋季果实成熟时采收，除去杂质，干燥。采收加工：秋季果实初成熟时采摘，晒干。性味：甘、酸、微涩，平。归经：脾；肝经，功能：行气活血，养心，安神。消食，解毒，醒酒，杀虫。 抗心肌缺血，保护心功能等作用。主治:用于气滞血瘀，胸痹作痛，心悸气短，心神不安。食滞腹痛，酒醉。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="features-row">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-left" src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/images/advanced-feature-2.png" alt="">
              <div class="wow fadeInRight">
                <h2>种植历史</h2>
                <i class="ion-ios-paper-outline" class="wow fadeInRight" data-wow-duration="0.5s"></i>
                <p class="wow fadeInRight" data-wow-duration="0.5s">在河姆渡遗址中，有着较多的南酸枣核存留，有时甚至是成坑的。这至少证明了，在河姆渡人生活的时代，其居所附近是有着南酸枣树生长的，而且先民们已经意识<br> &emsp;&emsp;&emsp;&emsp;到了，南酸枣的果实是可以被人采集食用的。</p>
                <i class="ion-ios-color-filter-outline wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s"></i>
                <p class="wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s">南酸枣果核在考古遗存中非常容易辨认，其未炭化的核为黑褐色，呈椭圆形，长为20毫米左右。其顶端有个椭圆形孔眼，呈放射形排列，孔眼中有种子。基部略微突<br> &emsp;&emsp;&emsp;&emsp;起，有5个凹坑环绕。核表面比较光滑，略微有些光<br> &emsp;&emsp;&emsp;&emsp;泽。核横截面为圆形，可见其中分为五室。</p>
                <i class="ion-ios-barcode-outline wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s">除了河姆渡遗址，南酸枣核还发现于跨湖桥和田螺山，表明先民们食用南酸枣是一件非常普遍的事。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right wow fadeInRight" src="https://first-1257059002.cos.ap-nanjing.myqcloud.com/images/advanced-feature-3.png" alt="">
              <div class="wow fadeInLeft">
                <h2>现代发展</h2>
                <h3>相信来到过江西的朋友，对于“齐云山”牌南酸枣糕一定有着深刻的印象，很多人会将其作为礼物送给亲朋好友</h3>
                <p>其实早在1992年，一位叫做刘志高的年轻人，亲自担任新产品开发领导小组组长, 研制出“齐云山”南酸枣糕、南酸枣茶</p>
                <i class="ion-ios-albums-outline"></i>
                <p>1997年, 江西齐云山食品有限公司经批准正式改组为股份合作制企业, 刘志高以全票的压倒性优势当选董事长兼总经理, 同年公司生产的“齐云山”南酸枣糕还通过了国家绿色食品发展中心认证。2002年, 公司通过了“出口食品生产企业”认证</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </main>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
{% endblock %}
