<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>找回密码</title>

<link rel="stylesheet" href="https://first-1257059002.cos.ap-nanjing.myqcloud.com/css/reset_password.css">

</head>
<body>

<div class="container">
  <div class="brand-logo"></div>
  <div class="brand-title">找回密码</div>
  <div class="inputs">
      <form method="POST" action="{% url 'users:reset_password' %}">
          <label>注册邮箱</label>
          <input type="email"  name="email" placeholder="请填写注册邮箱" />
          <div class="error btns login-form-tips" id="jsLoginTips">{{msg}}</div>
          <button type="submit">确定</button>
          {% csrf_token %}
      </form>
  </div>
</div>

  
</body>
</html>
