<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>修改密码</title>

<link rel="stylesheet" href="https://first-1257059002.cos.ap-nanjing.myqcloud.com/css/set_password.css">

</head>
<body>

<div class="container">
  <div class="brand-logo"></div>
  <div class="brand-title">修改密码</div>
  <div class="inputs">
      <form method="POST" action="{% url 'users:set_password' %}">
          <label>验证码</label>
           <input type="text" name="code">
           <label>新密码</label>
           <input type="password"  name="password1" placeholder="大于6个字符" />
           <label>确认密码</label>
           <input type="password"  name="password2" placeholder="大于6个字符" />
           <div class="error btns login-form-tips" id="jsLoginTips">{{msg}}</div>
           <button type="submit">重新登录</button>
          {% csrf_token %}
      </form>
  </div>
</div>

  
</body>
</html>
